<div class="flex justify-between items-center mt-2">

    <span class="mx-4"><b>Teacher Dashboard</b> </span>

    <div class=" flex justify-center items-center gap-8 mr-10">
        <button class="cursor-pointer">
            <fa-icon [icon]="faBell" class="text-2xl hover:text-gray-500 "></fa-icon>
        </button>

        <div class="flex flex-row gap-3 items-center">
            <span class="text-base font-medium">Teacher</span>

            <img src="{{ imagePath }}" alt="logo" class="cursor-pointer w-8 h-8 rounded-full border border-solid border-black ">

            

            
          

            <!-- <mat-menu #menu="matMenu" class="">
                <button mat-menu-item class="flex flex-row gap-4 px-3 py-2">
                    <fa-icon [icon]="faProfile" class="mr-4"></fa-icon>
                    <span>Profile</span>
                </button>

                <button mat-menu-item class="flex flex-row gap-4 px-3 py-2">
                    <fa-icon [icon]="faLogout" class="mr-4"></fa-icon>
                    <span>Logout</span>
                </button>
               
            </mat-menu> -->
        </div>



    </div>

</div>