<div id="main-container" class="min-h-screen bg-slate-200">

    <div class="header">
        <app-header></app-header>

    </div>

    <div id="main-content" class=" w-[100%] flex justify-center my-8">

        <div id="main-hero"
            class="flex flex-col justify-center items-center  h-[400px] w-[90%] md:w-[70%] md:h-420 rounded-lg border-solid border-2 border-gray-300 px-10 md:px-15 lg:px-20 bg-slate-100 shadow-lg">
            <span class="text-lg lg:text-2xl font-semibold md:font-bold my-3 md:my-5">Welcome to Sun Rise Public School</span>

            <p class="text-center  text-base md:text-lg  ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi eaque
                perspiciatis, suscipit nulla amet excepturi rem architecto voluptatem sint saepe enim reiciendis ipsa
                consectetur. Placeat.</p>
        </div>

    </div>

    <div id="footer">
        <app-footer></app-footer>

    </div>
</div>